

$heading_stack: "pragmatica-web","Segoe UI","Helvetica Neue",sans-serif;
$body_stack: "quatro-slab","Rockwell","Georgia",serif;

$blue: #34888C;

@import "reset";

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
	color: #333;
	font-family: 16px $body_stack;
}

#navigation_wrapper {
	border-bottom: solid 1px #dadada;
	margin-bottom: 3em;

	nav {
		max-width: 840px;
		margin: 0 auto;
		overflow: hidden;
		position: relative;

		li {
			display: inline-block;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}

		a {
			line-height: 40px;
			text-decoration: none;
		}

		#primary_navigation {
			float: left;
		}

		#social_links {
			float: right;
		}
	}
}

#main_content {
	margin: 0 auto;
	max-width: 860px;
	overflow: hidden;

	article {
		margin: 0 10px;

		em {
			font-weight: bold;
		}

		header{
			margin-bottom: 2em;

			h1 {
				font: 2.25em $heading_stack;
				font-weight: 900;
				line-height: 1.25em;
				margin-bottom: .10em;

				a {
					color: #333;
					text-decoration: none;
				}
			}

			p {
				font-size: 1.25em;
			}
		}

		& > p {
			font-size: 1.55em;
			line-height: 1.25em;
		}

		.article_body {
			font-size: 1.25em;
			float: left;

			p {
				line-height: 1.25em;
				margin-bottom: 1em;
				margin-right: 210px;

				&:first-child {
					font-size: 1.55em;
					line-height: 1.25em;
					margin-right: 0;
					margin-bottom: .5em;
				}
			}

			aside {
				float: right;
				font-family: $heading_stack;
				font-weight: 300;
				font-size: .75em;
				line-height: 1.35em;
				width: 190px;

				#tags {
					dt {
						font-weight: 600;
						margin-bottom: .35em;
					}

					dd {
						border-bottom: dotted 1px #eaeaea;
						margin-bottom: .35em;
						padding-bottom: .35em;

						&:last-child {
							border: none;
						}
					}
				}
			}
		}
	}
}

#footer_wrapper {
	background-color: #eaeaea;
	border-top: solid 1px #dadada;
	margin-top: 2em;
	padding: 2em 0 6em;

	footer {
		font-family: $heading_stack;
		margin: 0 auto;
		max-width: 840px;

		li {
			display: inline-block;
		}
	}
}