<div id="footer_wrapper">
	<footer>
		<ul>
			<li><a href="">About Me</a></li>
			<li><a href="" title="">Other Articles</a></li>
			<li><a href="/colophon.html" title="About this site.">Colophon</a></li>
		</ul>
	</footer>
</div>