<div id="navigation_wrapper">
	<nav>
		<ul id="primary_navigation">
			<li><a href="/">Home</a></li>
		</ul>

		<ul id="social_links">
			<li><a href="http://twitter.com/chuise" title="Follow @chuise on Twitter.">Twitter</a></li>
			<li><a href="http://dribbble.com/chuise" title="Follow @chuise on Twitter.">Dribbble</a></li>
			<li><a href="http://codepen.com/chuise" title="Follow @chuise on Twitter.">Codepen</a></li>
		</ul>
	</nav>
</div>