<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	
	<meta name="description" content="{{ page.description }}" />
	<meta name="author" content="Kevin M. Jackson" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<link rel="stylesheet" type="text/css" href="http://reset5.googlecode.com/hg/reset.min.css">
	<link rel="stylesheet" type="text/css" href="/css/global.css">
	
	<script type="text/javascript" src="http://use.typekit.com/ora7ych.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
			  
</head>
<body>
	<header>
		<h1>Kevin M. Jackson</h1>
	</header>
	<section>
		{{ content }}
	</section>
</body>
</html>
